.header {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    margin-top: 20px;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;

    &__logo {
        width: 250px;
        background-color: #ffba00;

        @media (min-width: 768px) {
            width: calc( ( ( 1366 - 1015 ) / 1366 ) * 100%);
        }

        &-text {
            text-align: right;
            font-size: 25px;
            letter-spacing: 2px;
            margin-right: 20px;
        }
    }
}