.navbar {    
    display: none;

    @media (min-width: 768px) {
        display: block;
    }

    @media (min-width: 1200px) {
        margin-right: 10%;
    }

    &__link {
        display: inline-block;
        padding-left: .7rem;
        padding-right: .7rem;
        letter-spacing: 2px;
        color: #fff;
        font-weight: 400;
        font-size: 20px;
    }
}